LogicApp/bieno-da22-d-903766-logicapp-PH-02/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PHlogicAppName02": {
            "defaultValue": "bieno-test-d-TEST6-logicapp-PH-02",
            "type": "String"
        },
        "logicAppO365apiConnection": {
            "defaultValue": "bieno-test-d-TEST6-logicapp-test-015",
            "type": "String"
        },
        "location": {
            "defaultValue": "northeurope",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PHlogicAppName02')]",
            "location": "[parameters('location')]",
            "tags": {
                "CostCentre": "A956001445",
                "ITSG": "TEST6",
                "Icc": "ICC16464",
                "Platform": "Core Data Ecosystem",
                "ServiceName": "MDL SEAA",
                "Workload": "Existing"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Logic Apps Case": {
                                            "type": "string"
                                        },
                                        "Return Code": {
                                            "type": "string"
                                        },
                                        "body": {
                                            "type": "string"
                                        },
                                        "out_df": {
                                            "items": {
                                                "properties": {
                                                    "Checks": {
                                                        "type": "string"
                                                    },
                                                    "Result": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Checks",
                                                    "Result"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "run_date_time": {
                                            "type": "string"
                                        },
                                        "run_id": {
                                            "type": "string"
                                        },
                                        "subject": {
                                            "type": "string"
                                        },
                                        "to": {
                                            "type": "string"
                                        },
										"url": {
                                            "type": "string"
                                        },
                                        "triggered_pipeline": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Response": {
                            "runAfter": {
                                "Switch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        },
                        "Switch": {
                            "runAfter": {},
                            "cases": {
								"Email Alert": {
                                    "case": "Email Alert",
                                    "actions": {
                                        "Send_an_email_(V2)_4": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>@{triggerBody()?['body']}<br>\n<br>\nThis is an auto-generated email.<br>\nRun ID: @{triggerBody()?['run_id']}<br>\nRun Date:@{triggerBody()?['run_date_time']}<br>\n</p>",
                                                    "Importance": "High",
                                                    "Subject": "@{triggerBody()?['subject']}- @{triggerBody()?['run_date_time']}",
                                                    "To": "@triggerBody()?['to']"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                },
                                "Validation_Success": {
                                    "case": "Email Validation Success",
                                    "actions": {
                                        "Create_HTML_table": {
                                            "runAfter": {},
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@array(triggerBody()?['out_df'])"
                                            }
                                        },
                                        "Send_an_email_(V2)_5": {
                                            "runAfter": {
                                                "Create_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>@{triggerBody()?['body']}<br>\nRun ID: @{triggerBody()?['run_id']}<br>\nRun Date:@{triggerBody()?['run_date_time']}<br>\nReturn code: @{triggerBody()?['Return Code']}<br>\nTriggered Pipeline: @{triggerBody()?['triggered_pipeline']}<br>\n</span><style>#myformat table, table th, table td {border: 1px solid white; border-collapse: collapse; background-color: #e3f1ff; text-align: left;}</style><div id=\"myformat\"><span style=\"font-family: tahoma\">@{body('Create_HTML_table')}</span></div><span style=\"font-family: tahoma\"><br>\n<br>\n</span><span style=\"font-family: tahoma; font-size: 10px\">This is an auto-generated email.</span></p>",
                                                    "Importance": "High",
                                                    "Subject": "@{triggerBody()?['subject']}-  @{triggerBody()?['triggered_pipeline']}-@{triggerBody()?['run_date_time']}",
                                                    "To": "@triggerBody()?['to']"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()?['Logic Apps Case']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('logicAppO365apiConnection'))]",
                                "connectionName": "[parameters('logicAppO365apiConnection')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
