DevOps/Custom/LogicApp/AlertUtility/ArmTemplate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "bieno-test-d-10000-monitorlogicapp-01",
            "metadata": {
                "description": "Name of the Logic App."
            }
        },
        "RecurrenceFrequency": {
            "type": "string",
            "defaultValue": "Minute"
        },
        "RecurrenceInterval": {
            "type": "int",
            "defaultValue": 30
        },
        "RecurrenceTimeZone": {
            "type": "string",
            "defaultValue": "UTC"
        },
        "Subscription": {
            "type": "string",
            "defaultValue": "Core Data Ecosystem-04"
        },
        "ResourceGroup": {
            "type": "string",
            "defaultValue": "bieno-test-d-10000-app-rg"
        },
        "ITSG": {
            "type": "string",
            "defaultValue": "10000"
        },
        "ProjectName": {
            "type": "string",
            "defaultValue": "SC-NA-Procurement"
        },
        "HolidayList": {
            "type": "array",
            "defaultValue": [ "2020-05-01", "2020-12-25" ]
        },
        "o365_name": {
            "type": "string",
            "defaultValue": "bieno-test-d-10000-logicapp-test-01"
        },
        "o365_displayName": {
            "type": "string",
            "defaultValue": "someone@example.com"
        },
        "EmailList": {
            "type": "string",
            "defaultValue": "someone@example.com"
        },
        "AASEnabled": {
            "type": "bool",
            "defaultValue": true
        },
        "AASServerName": {
            "type": "string",
            "defaultValue": "prodda01d10000googlecomas01"
        },
        "AASIdleTime": {
            "type": "int",
            "defaultValue": 15
        },
        "QPU_Metric": {
            "type": "string",
            "defaultValue": "0"
        },
        "AASQPUMetricLimit": {
            "type": "string",
            "defaultValue": "1"
        },
        "AASQPUFlag": {
            "type": "bool",
            "defaultValue": false
        },
        "AASTier": {
            "type": "string",
            "defaultValue": "B2"
        },
        "AASStartHour": {
            "type": "string",
            "defaultValue": "03"
        },
        "AASEndHour": {
            "type": "string",
            "defaultValue": "21"
        },
        "AASStatusURL": {
            "type": "string",
            "defaultValue": "https://management.azure.com/subscriptions/204671af-TEST-4ef5-test-e314b65f9d06/resourceGroups/bieno-test-d-10000-app-rg/providers/Microsoft.AnalysisServices/servers/prodda01d10000googlecomas01?api-version=2017-08-01"
        },
        "AASQPUMetricsURL": {
            "type": "string",
            "defaultValue": "https://management.azure.com/subscriptions/204671af-TEST-4ef5-test-e314b65f9d06/resourceGroups/bieno-test-d-10000-app-rg/providers/Microsoft.AnalysisServices/servers/prodda01d10000googlecomas01/providers/microsoft.insights/metrics?api-version=2018-01-01\u0026metricnames=qpu_metric\u0026interval=PT@{variables(\u0027AASIdleTime\u0027)}M\u0026aggregation=maximum"
        },
        "AASPauseFlag": {
            "type": "bool",
            "defaultValue": true
        },
        "AASPauseURL": {
            "type": "string",
            "defaultValue": "https://s9events.azure-automation.net/webhooks?token=W72PjzYCL%2fRazcM2XWVtAipNTsWIXwZnNDc9f%2bWmsSE%3d"
        },
        "DWServerName": {
            "type": "string",
            "defaultValue": "prod-test-d-10000-googlecom-sqldw-01"
        },
        "DWEnabled": {
            "type": "bool",
            "defaultValue": true
        },
        "DWIdleTime": {
            "type": "int",
            "defaultValue": 10
        },
        "DWTier": {
            "type": "string",
            "defaultValue": "DW100c"
        },
        "DWStartHour": {
            "type": "string",
            "defaultValue": "03"
        },
        "DWEndHour": {
            "type": "string",
            "defaultValue": "21"
        },
        "DWStatusURL": {
            "type": "string",
            "defaultValue": "https://management.azure.com/subscriptions/105fbd8d-test-4b19-test-d56f44121122/resourceGroups/prod-test-d-10000-rg/providers/Microsoft.Sql/servers/prod-test-d-10000-googlecom-sql-01/databases/prod-test-d-10000-googlecom-sqldw-01?api-version=2017-10-01-preview"
        },
        "DWPauseFlag": {
            "type": "bool",
            "defaultValue": true
        },
        "DWPauseURL": {
            "type": "string",
            "defaultValue": "https://s9events.azure-automation.net/webhooks?token=Wl0490%2fRKuTB16bi2ecLs6Yf5z%2fiVcGTHbrhpJQ5XPw%3d"
        },
        "sqldw_name": {
            "type": "string",
            "defaultValue": "bieno-test-d-10000-logicapp-sqldw-01"
        },
        "sqldw_displayName": {
            "type": "string",
            "defaultValue": "prod-test-d-10000-googlecom-sql-01 prod-test-d-10000-googlecom-sql-01.database.windows.net"
        },
        "sqldw_server": {
            "type": "string",
            "defaultValue": "prod-test-d-10000-googlecom-sql-01.database.windows.net",
            "metadata": {
                "description": "SQL server name"
            }
        },
        "sqldw_database": {
            "type": "string",
            "defaultValue": "prod-test-d-10000-googlecom-sqldw-01",
            "metadata": {
                "description": "SQL database name"
            }
        },
        "sqldw_username": {
            "type": "string",
            "defaultValue": null,
            "metadata": {
                "description": "Username credential"
            }
        },
        "sqldw_password": {
            "type": "securestring",
            "defaultValue": null,
            "metadata": {
                "description": "Password credential"
            }
        }
    },
    "variables": {
        "logicAppLocation":  "[resourceGroup().location]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[variables('logicAppLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('o365_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('sqldw_name'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$workflowsqldwusername": {
                            "defaultValue": "sqllogicappdwuser",
                            "type": "string"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "[parameters('RecurrenceFrequency')]",
                                "interval": "[parameters('RecurrenceInterval')]",
                                "timeZone": "[parameters('RecurrenceTimeZone')]"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "AASEnable_status": {
                            "actions": {
                                "AAS_QPU_Flag": {
                                    "actions": {
                                        "Condition_QPU_Metric_check": {
                                            "actions": {
                                                "AAS_Pause_Flag_Check": {
                                                    "actions": {
                                                        "AAS_Pause_IDLE": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "authentication": {
                                                                    "type": "ManagedServiceIdentity"
                                                                },
                                                                "method": "POST",
                                                                "uri": "@variables('AASPauseURL')"
                                                            }
                                                        },
                                                        "Send_an_email_(V2)_AAS_Pause_IDLE": {
                                                            "runAfter": {
                                                                "AAS_Pause_IDLE": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "Body": "<p>Hi All,<br>\n<br>\nThis is an automated alert to notify the pausing of AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}&gt; as the service is Idle (no usage for last @{variables('AASIdleTime')} mins).<br>\n<br>\nThanks</p>",
                                                                    "Subject": "PAUSING ALERT for AAS Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}> - IDLE ",
                                                                    "To": "@variables('EmailList')"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/v2/Mail"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "Send_an_email_(V2)_AAS_IDLE_Alert": {
                                                                "runAfter": {},
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "Body": "<p>Hi All,<br>\n<br>\nThis is an automated alert to notify &nbsp;AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}&gt; &nbsp;is Idle (no usage for last @{variables('AASIdleTime')} mins).<br>\n<br>\nThanks</p>",
                                                                        "Subject": "ALERT for AAS Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}> - IDLE ",
                                                                        "To": "@variables('EmailList')"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/v2/Mail"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@variables('AASPauseFlag')",
                                                                    true
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Loop_Value": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "lessOrEquals": [
                                                            "@variables('QPU_Metric')",
                                                            "@variables('AASQPUMetricLimit')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Loop_Value": {
                                            "foreach": "@body('Parse_AAS_Metrics_Schema')['value']",
                                            "actions": {
                                                "Loop_Time_Series": {
                                                    "foreach": "@items('Loop_Value')['timeseries']",
                                                    "actions": {
                                                        "LoopData": {
                                                            "foreach": "@items('Loop_Time_Series')['data']",
                                                            "actions": {
                                                                "QPU": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "QPU_Metric",
                                                                        "value": "@items('LoopData')['maximum']"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "type": "Foreach"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_AAS_Metrics_Schema": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Parse_AAS_Metrics_Schema": {
                                            "runAfter": {
                                                "Query_AAS_QPU_Metric": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Query_AAS_QPU_Metric')",
                                                "schema": {
                                                    "$id": "http://example.com/example.json",
                                                    "$schema": "http://json-schema.org/draft-07/schema",
                                                    "additionalProperties": true,
                                                    "default": {},
                                                    "description": "The root schema comprises the entire JSON document.",
                                                    "properties": {
                                                        "cost": {
                                                            "$id": "#/properties/cost",
                                                            "default": 0,
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                0
                                                            ],
                                                            "title": "The Cost Schema",
                                                            "type": "integer"
                                                        },
                                                        "interval": {
                                                            "$id": "#/properties/interval",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "PT5M"
                                                            ],
                                                            "title": "The Interval Schema",
                                                            "type": "string"
                                                        },
                                                        "namespace": {
                                                            "$id": "#/properties/namespace",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "Microsoft.AnalysisServices/servers"
                                                            ],
                                                            "title": "The Namespace Schema",
                                                            "type": "string"
                                                        },
                                                        "resourceregion": {
                                                            "$id": "#/properties/resourceregion",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "westus"
                                                            ],
                                                            "title": "The Resourceregion Schema",
                                                            "type": "string"
                                                        },
                                                        "timespan": {
                                                            "$id": "#/properties/timespan",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "2020-04-14T05:53:35Z/2020-04-14T06:53:35Z"
                                                            ],
                                                            "title": "The Timespan Schema",
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "$id": "#/properties/value",
                                                            "additionalItems": true,
                                                            "default": [],
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                [
                                                                    {
                                                                        "displayDescription": "QPU. Range 0-100 for S1, 0-200 for S2 and 0-400 for S4",
                                                                        "errorCode": "Success",
                                                                        "id": "/subscriptions/4bba5e2f-test-4648-test-a84c8fa03526/resourceGroups/CloudSolutions/providers/Microsoft.AnalysisServices/servers/demosolaas/providers/Microsoft.Insights/metrics/qpu_metric",
                                                                        "name": {
                                                                            "localizedValue": "QPU",
                                                                            "value": "qpu_metric"
                                                                        },
                                                                        "timeseries": [
                                                                            {
                                                                                "data": [
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T05:53:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T05:58:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:03:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 24,
                                                                                        "timeStamp": "2020-04-14T06:08:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 1,
                                                                                        "timeStamp": "2020-04-14T06:13:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:18:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:23:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:28:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:33:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 0,
                                                                                        "timeStamp": "2020-04-14T06:38:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 0,
                                                                                        "timeStamp": "2020-04-14T06:43:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:48:00Z"
                                                                                    }
                                                                                ],
                                                                                "metadatavalues": []
                                                                            }
                                                                        ],
                                                                        "type": "Microsoft.Insights/metrics",
                                                                        "unit": "Count"
                                                                    }
                                                                ]
                                                            ],
                                                            "items": {
                                                                "$id": "#/properties/value/items",
                                                                "additionalProperties": true,
                                                                "default": {},
                                                                "description": "An explanation about the purpose of this instance.",
                                                                "examples": [
                                                                    {
                                                                        "displayDescription": "QPU. Range 0-100 for S1, 0-200 for S2 and 0-400 for S4",
                                                                        "errorCode": "Success",
                                                                        "id": "/subscriptions/4bba5e2f-test-4648-test-a84c8fa03526/resourceGroups/CloudSolutions/providers/Microsoft.AnalysisServices/servers/demosolaas/providers/Microsoft.Insights/metrics/qpu_metric",
                                                                        "name": {
                                                                            "localizedValue": "QPU",
                                                                            "value": "qpu_metric"
                                                                        },
                                                                        "timeseries": [
                                                                            {
                                                                                "data": [
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T05:53:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T05:58:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:03:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 24,
                                                                                        "timeStamp": "2020-04-14T06:08:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 1,
                                                                                        "timeStamp": "2020-04-14T06:13:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:18:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:23:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:28:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:33:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 0,
                                                                                        "timeStamp": "2020-04-14T06:38:00Z"
                                                                                    },
                                                                                    {
                                                                                        "maximum": 0,
                                                                                        "timeStamp": "2020-04-14T06:43:00Z"
                                                                                    },
                                                                                    {
                                                                                        "timeStamp": "2020-04-14T06:48:00Z"
                                                                                    }
                                                                                ],
                                                                                "metadatavalues": []
                                                                            }
                                                                        ],
                                                                        "type": "Microsoft.Insights/metrics",
                                                                        "unit": "Count"
                                                                    }
                                                                ],
                                                                "properties": {
                                                                    "displayDescription": {
                                                                        "$id": "#/properties/value/items/properties/displayDescription",
                                                                        "default": "",
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            "QPU. Range 0-100 for S1, 0-200 for S2 and 0-400 for S4"
                                                                        ],
                                                                        "title": "The Displaydescription Schema",
                                                                        "type": "string"
                                                                    },
                                                                    "errorCode": {
                                                                        "$id": "#/properties/value/items/properties/errorCode",
                                                                        "default": "",
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            "Success"
                                                                        ],
                                                                        "title": "The Errorcode Schema",
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "$id": "#/properties/value/items/properties/id",
                                                                        "default": "",
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            "/subscriptions/4bba5e2f-test-4648-test-a84c8fa03526/resourceGroups/CloudSolutions/providers/Microsoft.AnalysisServices/servers/demosolaas/providers/Microsoft.Insights/metrics/qpu_metric"
                                                                        ],
                                                                        "title": "The Id Schema",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "$id": "#/properties/value/items/properties/name",
                                                                        "additionalProperties": true,
                                                                        "default": {},
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            {
                                                                                "localizedValue": "QPU",
                                                                                "value": "qpu_metric"
                                                                            }
                                                                        ],
                                                                        "properties": {
                                                                            "localizedValue": {
                                                                                "$id": "#/properties/value/items/properties/name/properties/localizedValue",
                                                                                "default": "",
                                                                                "description": "An explanation about the purpose of this instance.",
                                                                                "examples": [
                                                                                    "QPU"
                                                                                ],
                                                                                "title": "The Localizedvalue Schema",
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "$id": "#/properties/value/items/properties/name/properties/value",
                                                                                "default": "",
                                                                                "description": "An explanation about the purpose of this instance.",
                                                                                "examples": [
                                                                                    "qpu_metric"
                                                                                ],
                                                                                "title": "The Value Schema",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "value",
                                                                            "localizedValue"
                                                                        ],
                                                                        "title": "The Name Schema",
                                                                        "type": "object"
                                                                    },
                                                                    "timeseries": {
                                                                        "$id": "#/properties/value/items/properties/timeseries",
                                                                        "additionalItems": true,
                                                                        "default": [],
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            [
                                                                                {
                                                                                    "data": [
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T05:53:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T05:58:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:03:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 24,
                                                                                            "timeStamp": "2020-04-14T06:08:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 1,
                                                                                            "timeStamp": "2020-04-14T06:13:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:18:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:23:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:28:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:33:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 0,
                                                                                            "timeStamp": "2020-04-14T06:38:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 0,
                                                                                            "timeStamp": "2020-04-14T06:43:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:48:00Z"
                                                                                        }
                                                                                    ],
                                                                                    "metadatavalues": []
                                                                                }
                                                                            ]
                                                                        ],
                                                                        "items": {
                                                                            "$id": "#/properties/value/items/properties/timeseries/items",
                                                                            "additionalProperties": true,
                                                                            "default": {},
                                                                            "description": "An explanation about the purpose of this instance.",
                                                                            "examples": [
                                                                                {
                                                                                    "data": [
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T05:53:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T05:58:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:03:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 24,
                                                                                            "timeStamp": "2020-04-14T06:08:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 1,
                                                                                            "timeStamp": "2020-04-14T06:13:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:18:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:23:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:28:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:33:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 0,
                                                                                            "timeStamp": "2020-04-14T06:38:00Z"
                                                                                        },
                                                                                        {
                                                                                            "maximum": 0,
                                                                                            "timeStamp": "2020-04-14T06:43:00Z"
                                                                                        },
                                                                                        {
                                                                                            "timeStamp": "2020-04-14T06:48:00Z"
                                                                                        }
                                                                                    ],
                                                                                    "metadatavalues": []
                                                                                }
                                                                            ],
                                                                            "properties": {
                                                                                "data": {
                                                                                    "$id": "#/properties/value/items/properties/timeseries/items/properties/data",
                                                                                    "additionalItems": true,
                                                                                    "default": [],
                                                                                    "description": "An explanation about the purpose of this instance.",
                                                                                    "examples": [
                                                                                        [
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T05:53:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T05:58:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:03:00Z"
                                                                                            }
                                                                                        ]
                                                                                    ],
                                                                                    "items": {
                                                                                        "$id": "#/properties/value/items/properties/timeseries/items/properties/data/items",
                                                                                        "additionalProperties": true,
                                                                                        "default": {},
                                                                                        "description": "An explanation about the purpose of this instance.",
                                                                                        "examples": [
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T05:53:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T05:58:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:03:00Z"
                                                                                            },
                                                                                            {
                                                                                                "maximum": 24,
                                                                                                "timeStamp": "2020-04-14T06:08:00Z"
                                                                                            },
                                                                                            {
                                                                                                "maximum": 1,
                                                                                                "timeStamp": "2020-04-14T06:13:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:18:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:23:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:28:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:33:00Z"
                                                                                            },
                                                                                            {
                                                                                                "maximum": 0,
                                                                                                "timeStamp": "2020-04-14T06:38:00Z"
                                                                                            },
                                                                                            {
                                                                                                "maximum": 0,
                                                                                                "timeStamp": "2020-04-14T06:43:00Z"
                                                                                            },
                                                                                            {
                                                                                                "timeStamp": "2020-04-14T06:48:00Z"
                                                                                            }
                                                                                        ],
                                                                                        "properties": {
                                                                                            "timeStamp": {
                                                                                                "$id": "#/properties/value/items/properties/timeseries/items/properties/data/items/properties/timeStamp",
                                                                                                "default": "",
                                                                                                "description": "An explanation about the purpose of this instance.",
                                                                                                "examples": [
                                                                                                    "2020-04-14T05:53:00Z"
                                                                                                ],
                                                                                                "title": "The Timestamp Schema",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "timeStamp"
                                                                                        ],
                                                                                        "title": "The Items Schema",
                                                                                        "type": "object"
                                                                                    },
                                                                                    "title": "The Data Schema",
                                                                                    "type": "array"
                                                                                },
                                                                                "metadatavalues": {
                                                                                    "$id": "#/properties/value/items/properties/timeseries/items/properties/metadatavalues",
                                                                                    "additionalItems": true,
                                                                                    "default": [],
                                                                                    "description": "An explanation about the purpose of this instance.",
                                                                                    "examples": [
                                                                                        []
                                                                                    ],
                                                                                    "title": "The Metadatavalues Schema",
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "metadatavalues",
                                                                                "data"
                                                                            ],
                                                                            "title": "The Items Schema",
                                                                            "type": "object"
                                                                        },
                                                                        "title": "The Timeseries Schema",
                                                                        "type": "array"
                                                                    },
                                                                    "type": {
                                                                        "$id": "#/properties/value/items/properties/type",
                                                                        "default": "",
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            "Microsoft.Insights/metrics"
                                                                        ],
                                                                        "title": "The Type Schema",
                                                                        "type": "string"
                                                                    },
                                                                    "unit": {
                                                                        "$id": "#/properties/value/items/properties/unit",
                                                                        "default": "",
                                                                        "description": "An explanation about the purpose of this instance.",
                                                                        "examples": [
                                                                            "Count"
                                                                        ],
                                                                        "title": "The Unit Schema",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "type",
                                                                    "name",
                                                                    "displayDescription",
                                                                    "unit",
                                                                    "timeseries",
                                                                    "errorCode"
                                                                ],
                                                                "title": "The Items Schema",
                                                                "type": "object"
                                                            },
                                                            "title": "The Value Schema",
                                                            "type": "array"
                                                        }
                                                    },
                                                    "required": [
                                                        "cost",
                                                        "timespan",
                                                        "interval",
                                                        "value",
                                                        "namespace",
                                                        "resourceregion"
                                                    ],
                                                    "title": "The Root Schema",
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Query_AAS_QPU_Metric": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "@variables('AASQPUMetricsURL')"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Check_AAS_Status": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('AASQPUFlag')",
                                                    true
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "AAS_Tier_Check": {
                                    "actions": {
                                        "AAS_Tier_": {
                                            "actions": {
                                                "AAS_Tier_change_Alert": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>Hi All,<br>\n<br>\nThis is an automated alert to notify the change in tier of AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}&gt; from &nbsp;@{variables('AASTier')} to @{body('Read_AAS_JSON')['sku']['name']}<br>\n<br>\nThanks<br>\n&nbsp;</p>",
                                                            "Subject": "TIER CHANGE ALERT for AAS Instance<@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}>",
                                                            "To": "@variables('EmailList')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@body('Read_AAS_JSON')['sku']['name']",
                                                                "@variables('AASTier')"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Read_AAS_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Read_AAS_JSON')['properties']['state']",
                                                    "Succeeded"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Check_AAS_Status": {
                                    "actions": {
                                        "HoliDay_Check": {
                                            "actions": {
                                                "Working_Hours_Check": {
                                                    "actions": {
                                                        "Set_variable": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "AASQPUFlag",
                                                                "value": true
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "AAS_Pause_Flag_Work_Hours_": {
                                                                "actions": {
                                                                    "AAS_Pause_Working_Hours_Check": {
                                                                        "runAfter": {},
                                                                        "type": "Http",
                                                                        "inputs": {
                                                                            "authentication": {
                                                                                "type": "ManagedServiceIdentity"
                                                                            },
                                                                            "method": "POST",
                                                                            "uri": "@variables('AASPauseURL')"
                                                                        }
                                                                    },
                                                                    "Send_an_email_(V2)_Working_Hours_Check": {
                                                                        "runAfter": {
                                                                            "AAS_Pause_Working_Hours_Check": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "body": {
                                                                                "Body": "<p>Hi All,<br>\n<br>\nThis is an automated alert to notify the pausing of AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}&gt;&nbsp;as the service is running outside working hours.<br>\n<br>\nThanks<br>\n</p>",
                                                                                "Subject": "PAUSING ALERT for AAS Instance<@{variables('ITSG')}/@{variables('ProjectName')}/ @{variables('AASServerName')}> - OFF WORK",
                                                                                "To": "@variables('EmailList')"
                                                                            },
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "path": "/v2/Mail"
                                                                        }
                                                                    }
                                                                },
                                                                "runAfter": {},
                                                                "else": {
                                                                    "actions": {
                                                                        "Send_an_email_(V2)__AAS__Non_Work_Hours_Alert": {
                                                                            "runAfter": {},
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "body": {
                                                                                    "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify &nbsp;AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}&gt; service is running outside working hours. <br>\n<br>\nThanks</p>",
                                                                                    "Subject": "ALERT for AAS Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}> - OFF WORK",
                                                                                    "To": "@variables('EmailList')"
                                                                                },
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "path": "/v2/Mail"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "equals": [
                                                                                "@variables('AASPauseFlag')",
                                                                                true
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "type": "If"
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "greaterOrEquals": [
                                                                    "@utcNow('HH')",
                                                                    "@variables('AASStartHour')"
                                                                ]
                                                            },
                                                            {
                                                                "less": [
                                                                    "@utcNow('HH')",
                                                                    "@variables('AASEndHour')"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "AAS_Holiday_Check_Pause_Flag": {
                                                        "actions": {
                                                            "AAS_Pause_Holiday_Check": {
                                                                "runAfter": {},
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "authentication": {
                                                                        "type": "ManagedServiceIdentity"
                                                                    },
                                                                    "method": "POST",
                                                                    "uri": "@variables('AASPauseURL')"
                                                                }
                                                            },
                                                            "Send_an_email_(V2)__HolidayCheck": {
                                                                "runAfter": {
                                                                    "AAS_Pause_Holiday_Check": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "Body": "<p>Hi All,<br>\n<br>\nThis is an automated alert to notify the pausing of AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}  &gt;as the service is running on a weekend/holiday. &nbsp;<br>\n<br>\nThanks</p>",
                                                                        "Subject": "PAUSING ALERT for AAS Instance<@{variables('ITSG')}/@{variables('ProjectName')}/ @{variables('AASServerName')}>- HOLIDAY",
                                                                        "To": "@variables('EmailList')"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/v2/Mail"
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "else": {
                                                            "actions": {
                                                                "Send_an_email_(V2)_Holiday_Alert": {
                                                                    "runAfter": {},
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "body": {
                                                                            "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify &nbsp;AAS instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}&gt; service is running on a weekend/holiday.<br>\n<br>\nThanks</p>",
                                                                            "Subject": "ALERT for AAS Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('AASServerName')}> - HOLIDAY",
                                                                            "To": "@variables('EmailList')"
                                                                        },
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "post",
                                                                        "path": "/v2/Mail"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@variables('AASPauseFlag')",
                                                                        true
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@utcNow('ddd')",
                                                                "Sat"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@utcNow('ddd')",
                                                                "Sun"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@variables('HolidayList')",
                                                                "@utcNow('yyyy-MM-dd')"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Read_AAS_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Read_AAS_JSON')['properties']['state']",
                                                    "Succeeded"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Get_AAS_Status_": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "@variables('AASStatusURL')"
                                    }
                                },
                                "Read_AAS_JSON": {
                                    "runAfter": {
                                        "Get_AAS_Status_": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_AAS_Status_')",
                                        "schema": {
                                            "$id": "http://example.com/example.json",
                                            "$schema": "http://json-schema.org/draft-07/schema",
                                            "additionalProperties": true,
                                            "default": {},
                                            "description": "The root schema comprises the entire JSON document.",
                                            "properties": {
                                                "id": {
                                                    "$id": "#/properties/id",
                                                    "default": "",
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        "/subscriptions/4bba5e2f-test-4648-test-a84c8fa03526/resourceGroups/CloudSolutions/providers/Microsoft.AnalysisServices/servers/demosolaas"
                                                    ],
                                                    "title": "The Id Schema",
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "$id": "#/properties/location",
                                                    "default": "",
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        "West US"
                                                    ],
                                                    "title": "The Location Schema",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "$id": "#/properties/name",
                                                    "default": "",
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        "demosolaas"
                                                    ],
                                                    "title": "The Name Schema",
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "$id": "#/properties/properties",
                                                    "additionalProperties": true,
                                                    "default": {},
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        {
                                                            "managedMode": 1,
                                                            "provisioningState": "Succeeded",
                                                            "querypoolConnectionMode": "All",
                                                            "serverFullName": "asazure://westus.asazure.windows.net/demosolaas",
                                                            "serverMonitorMode": 1,
                                                            "state": "Paused"
                                                        }
                                                    ],
                                                    "properties": {
                                                        "managedMode": {
                                                            "$id": "#/properties/properties/properties/managedMode",
                                                            "default": 0,
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                1
                                                            ],
                                                            "title": "The Managedmode Schema",
                                                            "type": "integer"
                                                        },
                                                        "provisioningState": {
                                                            "$id": "#/properties/properties/properties/provisioningState",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "Succeeded"
                                                            ],
                                                            "title": "The Provisioningstate Schema",
                                                            "type": "string"
                                                        },
                                                        "querypoolConnectionMode": {
                                                            "$id": "#/properties/properties/properties/querypoolConnectionMode",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "All"
                                                            ],
                                                            "title": "The Querypoolconnectionmode Schema",
                                                            "type": "string"
                                                        },
                                                        "serverFullName": {
                                                            "$id": "#/properties/properties/properties/serverFullName",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "asazure://westus.asazure.windows.net/demosolaas"
                                                            ],
                                                            "title": "The Serverfullname Schema",
                                                            "type": "string"
                                                        },
                                                        "serverMonitorMode": {
                                                            "$id": "#/properties/properties/properties/serverMonitorMode",
                                                            "default": 0,
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                1
                                                            ],
                                                            "title": "The Servermonitormode Schema",
                                                            "type": "integer"
                                                        },
                                                        "state": {
                                                            "$id": "#/properties/properties/properties/state",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "Paused"
                                                            ],
                                                            "title": "The State Schema",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "provisioningState",
                                                        "state",
                                                        "serverFullName",
                                                        "managedMode",
                                                        "querypoolConnectionMode",
                                                        "serverMonitorMode"
                                                    ],
                                                    "title": "The Properties Schema",
                                                    "type": "object"
                                                },
                                                "sku": {
                                                    "$id": "#/properties/sku",
                                                    "additionalProperties": true,
                                                    "default": {},
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        {
                                                            "capacity": 1,
                                                            "name": "B1",
                                                            "tier": "Basic"
                                                        }
                                                    ],
                                                    "properties": {
                                                        "capacity": {
                                                            "$id": "#/properties/sku/properties/capacity",
                                                            "default": 0,
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                1
                                                            ],
                                                            "title": "The Capacity Schema",
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "$id": "#/properties/sku/properties/name",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "B1"
                                                            ],
                                                            "title": "The Name Schema",
                                                            "type": "string"
                                                        },
                                                        "tier": {
                                                            "$id": "#/properties/sku/properties/tier",
                                                            "default": "",
                                                            "description": "An explanation about the purpose of this instance.",
                                                            "examples": [
                                                                "Basic"
                                                            ],
                                                            "title": "The Tier Schema",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "tier",
                                                        "capacity"
                                                    ],
                                                    "title": "The Sku Schema",
                                                    "type": "object"
                                                },
                                                "tags": {
                                                    "$id": "#/properties/tags",
                                                    "additionalProperties": true,
                                                    "default": {},
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        {}
                                                    ],
                                                    "title": "The Tags Schema",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "$id": "#/properties/type",
                                                    "default": "",
                                                    "description": "An explanation about the purpose of this instance.",
                                                    "examples": [
                                                        "Microsoft.AnalysisServices/servers"
                                                    ],
                                                    "title": "The Type Schema",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "properties",
                                                "id",
                                                "name",
                                                "type",
                                                "location",
                                                "sku",
                                                "tags"
                                            ],
                                            "title": "The Root Schema",
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Init_DWPauseURL": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('AASEnabled')",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Init_AASEnabled": {
                            "runAfter": {
                                "Init_EmailList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASEnabled",
                                        "type": "boolean",
                                        "value": "[parameters('AASEnabled')]"
                                    }
                                ]
                            }
                        },
                        "DWEnable_Status_": {
                            "actions": {
                                "Check_DW_Status": {
                                    "actions": {
                                        "DW_Holiday_Check_": {
                                            "actions": {
                                                "DW_Working_Hours_Check": {
                                                    "actions": {
                                                        "Execute_a_SQL_query_To_Get_DW_Status": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "query": "select count(*) as ActiveCount from ( \nselect TOP 1 ses.*, DATEADD(mi,@{variables('DWIdleTime')},login_time) as idletime, GETDATE() AS currenttime, 1 AS ActiveStatus FROM sys.dm_pdw_exec_sessions ses \nINNER JOIN  sys.dm_pdw_exec_requests req \nON req.session_id = ses.session_id\nWHERE ses.status <> 'Closed' AND \nses.session_id <> session_id() AND GETDATE() <= DATEADD(mi,@{variables('DWIdleTime')}, login_time) \nAND login_name <> '@{parameters('$workflowsqldwusername')}' AND req.status  in ('Completed','Failed','Cancelled')\nORDER BY login_time DESC ) as sql"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['sqldw']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/datasets/default/query/sql"
                                                            }
                                                        },
                                                        "Read_Records": {
                                                            "foreach": "@body('Execute_a_SQL_query_To_Get_DW_Status')?['resultsets']?['Table1']",
                                                            "actions": {
                                                                "Condition": {
                                                                    "actions": {
                                                                        "DW_Pause_Flag": {
                                                                            "actions": {
                                                                                "Pause_DW_On_IDLE_State": {
                                                                                    "runAfter": {},
                                                                                    "type": "Http",
                                                                                    "inputs": {
                                                                                        "authentication": {
                                                                                            "type": "ManagedServiceIdentity"
                                                                                        },
                                                                                        "method": "POST",
                                                                                        "uri": "@variables('DWPauseURL')"
                                                                                    }
                                                                                },
                                                                                "Send_an_email_(V2)_On_DW_Pause_IDLE_State": {
                                                                                    "runAfter": {
                                                                                        "Pause_DW_On_IDLE_State": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    },
                                                                                    "type": "ApiConnection",
                                                                                    "inputs": {
                                                                                        "body": {
                                                                                            "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify the pausing of SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; as the service is Idle (no usage for last 30 mins).<br>\n<br>\nThanks</p>",
                                                                                            "Subject": "PAUSING ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}> - IDLE ",
                                                                                            "To": "@variables('EmailList')"
                                                                                        },
                                                                                        "host": {
                                                                                            "connection": {
                                                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                                                            }
                                                                                        },
                                                                                        "method": "post",
                                                                                        "path": "/v2/Mail"
                                                                                    }
                                                                                }
                                                                            },
                                                                            "runAfter": {},
                                                                            "else": {
                                                                                "actions": {
                                                                                    "Send_an_email_(V2)": {
                                                                                        "runAfter": {},
                                                                                        "type": "ApiConnection",
                                                                                        "inputs": {
                                                                                            "body": {
                                                                                                "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify &nbsp;SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; &nbsp;is Idle (no usage for last 30 mins).<br>\n<br>\nThanks</p>",
                                                                                                "Subject": "ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}> - IDLE ",
                                                                                                "To": "@variables('EmailList')"
                                                                                            },
                                                                                            "host": {
                                                                                                "connection": {
                                                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                                                }
                                                                                            },
                                                                                            "method": "post",
                                                                                            "path": "/v2/Mail"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "expression": {
                                                                                "and": [
                                                                                    {
                                                                                        "equals": [
                                                                                            "@variables('DWPauseFlag')",
                                                                                            true
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "type": "If"
                                                                        }
                                                                    },
                                                                    "runAfter": {},
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "equals": [
                                                                                    "@items('Read_Records')?['ActiveCount']",
                                                                                    0
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "type": "If"
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Execute_a_SQL_query_To_Get_DW_Status": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Foreach"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "DW_Non_Working_Hours_Flag_Check_": {
                                                                "actions": {
                                                                    "DW_Pause_On_Non_Working_Hours": {
                                                                        "runAfter": {},
                                                                        "type": "Http",
                                                                        "inputs": {
                                                                            "authentication": {
                                                                                "type": "ManagedServiceIdentity"
                                                                            },
                                                                            "method": "POST",
                                                                            "uri": "@variables('DWPauseURL')"
                                                                        }
                                                                    },
                                                                    "Send_an_email_(V2)_Pause_On_Non_Working_Hours": {
                                                                        "runAfter": {
                                                                            "DW_Pause_On_Non_Working_Hours": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "body": {
                                                                                "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify the pausing of SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; as the service is running outside working hours. <br>\n<br>\nThanks</p>",
                                                                                "Subject": "PAUSING ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}> - OFF WORK",
                                                                                "To": "@variables('EmailList')"
                                                                            },
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "path": "/v2/Mail"
                                                                        }
                                                                    }
                                                                },
                                                                "runAfter": {},
                                                                "else": {
                                                                    "actions": {
                                                                        "Send_an_email_(V2)_Non_Working_Hours_Alert": {
                                                                            "runAfter": {},
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "body": {
                                                                                    "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; &nbsp;service is running outside working hours. <br>\n<br>\nThanks</p>",
                                                                                    "Subject": "ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}> - OFF WORK",
                                                                                    "To": ""
                                                                                },
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "path": "/v2/Mail"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "equals": [
                                                                                "@variables('DWPauseFlag')",
                                                                                true
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "type": "If"
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "greaterOrEquals": [
                                                                    "@utcNow('HH')",
                                                                    "@variables('DWStartHour')"
                                                                ]
                                                            },
                                                            {
                                                                "less": [
                                                                    "@utcNow('HH')",
                                                                    "@variables('DWEndHour')"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "DW_Pause_Flag_Holiday_Check": {
                                                        "actions": {
                                                            "Pause_DW_Server_On_Holiday": {
                                                                "runAfter": {},
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "authentication": {
                                                                        "type": "ManagedServiceIdentity"
                                                                    },
                                                                    "method": "POST",
                                                                    "uri": "@variables('DWPauseURL')"
                                                                }
                                                            },
                                                            "Send_an_email_(V2)_on_DW_Pause_Holiday": {
                                                                "runAfter": {
                                                                    "Pause_DW_Server_On_Holiday": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify the pausing of SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; as the service is running on a weekend/holiday.<br>\n<br>\nThanks</p>",
                                                                        "Subject": "PAUSING ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}> - HOLIDAY",
                                                                        "To": "@variables('EmailList')"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/v2/Mail"
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "else": {
                                                            "actions": {
                                                                "Send_an_email_(V2)_DW_Holiday_Alert": {
                                                                    "runAfter": {},
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "body": {
                                                                            "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify &nbsp;SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; service is running on a weekend/holiday.<br>\n<br>\nThanks</p>",
                                                                            "Subject": "ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ResourceGroup')}/@{variables('DWServerName')}> - HOLIDAY",
                                                                            "To": "@variables('EmailList')"
                                                                        },
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "post",
                                                                        "path": "/v2/Mail"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@variables('DWPauseFlag')",
                                                                        true
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@utcNow('ddd')",
                                                                "Sat"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@utcNow('ddd')",
                                                                "Sun"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@variables('HolidayList')",
                                                                "@utcNow('yyyy-MM-dd')"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Read_DW_JSON_": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Read_DW_JSON_')?['properties']?['status']",
                                                    "Online"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "DW_Tier_Check": {
                                    "actions": {
                                        "Check_DW_Units": {
                                            "actions": {
                                                "Send_an_email_(V2)_DW_Tier_change": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>Hi All,<br>\n <br>\nThis is an automated alert to notify the change in tier for SQL DW instance &lt;@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}&gt; from @{variables('DWTier')} to @{body('Read_DW_JSON_')?['properties']?['currentServiceObjectiveName']}.<br>\n<br>\nThanks</p>",
                                                            "Subject": "TIER CHANGE ALERT for SQL DW Instance <@{variables('ITSG')}/@{variables('ProjectName')}/@{variables('DWServerName')}> ",
                                                            "To": "@variables('EmailList')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@variables('DWTier')",
                                                                "@body('Read_DW_JSON_')?['properties']?['currentServiceObjectiveName']"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Read_DW_JSON_": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Read_DW_JSON_')?['properties']?['status']",
                                                    "Online"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "GET_DW_Status": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "@variables('DWStatusURL')"
                                    }
                                },
                                "Read_DW_JSON_": {
                                    "runAfter": {
                                        "GET_DW_Status": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('GET_DW_Status')",
                                        "schema": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "properties": {
                                                        "catalogCollation": {
                                                            "type": "string"
                                                        },
                                                        "collation": {
                                                            "type": "string"
                                                        },
                                                        "creationDate": {
                                                            "type": "string"
                                                        },
                                                        "currentServiceObjectiveName": {
                                                            "type": "string"
                                                        },
                                                        "currentSku": {
                                                            "properties": {
                                                                "capacity": {
                                                                    "type": "integer"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "tier": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "databaseId": {
                                                            "type": "string"
                                                        },
                                                        "defaultSecondaryLocation": {
                                                            "type": "string"
                                                        },
                                                        "maxSizeBytes": {
                                                            "type": "integer"
                                                        },
                                                        "readReplicaCount": {
                                                            "type": "integer"
                                                        },
                                                        "readScale": {
                                                            "type": "string"
                                                        },
                                                        "requestedServiceObjectiveName": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "sku": {
                                                    "properties": {
                                                        "capacity": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "tier": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "tags": {
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Init_DWPauseURL": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('DWEnabled')",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Init_DWEnabled": {
                            "runAfter": {
                                "Init_AASPauseURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWEnabled",
                                        "type": "boolean",
                                        "value": "[parameters('DWEnabled')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASEndHour": {
                            "runAfter": {
                                "Init_AASStartHour": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASEndHour",
                                        "type": "string",
                                        "value": "[parameters('AASEndHour')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASIdleTime": {
                            "runAfter": {
                                "Init_AASServerName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASIdleTime",
                                        "type": "integer",
                                        "value": "[parameters('AASIdleTime')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASPauseURL": {
                            "runAfter": {
                                "init_AASPause_Flag": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASPauseURL",
                                        "type": "string",
                                        "value": "[parameters('AASPauseURL')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASQPUFlag": {
                            "runAfter": {
                                "Init_AASQPUMetricLimit": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASQPUFlag",
                                        "type": "boolean",
                                        "value": "[parameters('AASQPUFlag')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASQPUMetricLimit": {
                            "runAfter": {
                                "Init_QPU_Metric": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASQPUMetricLimit",
                                        "type": "float",
                                        "value": "[float(parameters('AASQPUMetricLimit'))]"
                                    }
                                ]
                            }
                        },
                        "Init_AASQPUMetricsURL": {
                            "runAfter": {
                                "Init_AASStatusURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASQPUMetricsURL",
                                        "type": "string",
                                        "value": "[parameters('AASQPUMetricsURL')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASServerName": {
                            "runAfter": {
                                "Init_AASEnabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASServerName",
                                        "type": "string",
                                        "value": "[Parameters('AASServerName')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASStartHour": {
                            "runAfter": {
                                "Init_AASTier": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASStartHour",
                                        "type": "string",
                                        "value": "[parameters('AASStartHour')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASStatusURL": {
                            "runAfter": {
                                "Init_AASEndHour": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASStatusURL",
                                        "type": "string",
                                        "value": "[Parameters('AASStatusURL')]"
                                    }
                                ]
                            }
                        },
                        "Init_AASTier": {
                            "runAfter": {
                                "Init_AASQPUFlag": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASTier",
                                        "type": "string",
                                        "value": "[parameters('AASTier')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWEndHour": {
                            "runAfter": {
                                "Init_DWStartHour": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWEndHour",
                                        "type": "string",
                                        "value": "[parameters('DWEndHour')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWIdleTime": {
                            "runAfter": {
                                "Init_DWServerName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWIdleTime",
                                        "type": "integer",
                                        "value": "[parameters('DWIdleTime')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWPauseFlag": {
                            "runAfter": {
                                "Init_DWStatusURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWPauseFlag",
                                        "type": "boolean",
                                        "value": "[parameters('DWPauseFlag')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWPauseURL": {
                            "runAfter": {
                                "Init_DWPauseFlag": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWPauseURL",
                                        "type": "string",
                                        "value": "[parameters('DWPauseURL')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWServerName": {
                            "runAfter": {
                                "Init_DWEnabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWServerName",
                                        "type": "string",
                                        "value": "[parameters('DWServerName')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWStartHour": {
                            "runAfter": {
                                "init_DWTier": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWStartHour",
                                        "type": "string",
                                        "value": "[parameters('DWStartHour')]"
                                    }
                                ]
                            }
                        },
                        "Init_DWStatusURL": {
                            "runAfter": {
                                "Init_DWEndHour": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWStatusURL",
                                        "type": "string",
                                        "value": "[parameters('DWStatusURL')]"
                                    }
                                ]
                            }
                        },
                        "Init_EmailList": {
                            "runAfter": {
                                "Init_HolidayList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EmailList",
                                        "type": "string",
                                        "value": "[parameters('EmailList')]"
                                    }
                                ]
                            },
                            "description": "Set email recipients "
                        },
                        "Init_HolidayList": {
                            "runAfter": {
                                "Init_ProjectName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HolidayList",
                                        "type": "string",
                                        "value": "[string(parameters('HolidayList'))]"
                                    }
                                ]
                            }
                        },
                        "Init_ITSG": {
                            "runAfter": {
                                "Init_ResourceGroup": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ITSG",
                                        "type": "string",
                                        "value": "[parameters('ITSG')]"
                                    }
                                ]
                            }
                        },
                        "Init_ProjectName": {
                            "runAfter": {
                                "Init_ITSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ProjectName",
                                        "type": "string",
                                        "value": "[parameters('ProjectName')]"
                                    }
                                ]
                            }
                        },
                        "Init_QPU_Metric": {
                            "runAfter": {
                                "Init_AASIdleTime": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "QPU_Metric",
                                        "type": "float",
                                        "value": "[float(parameters('QPU_Metric'))]"
                                    }
                                ]
                            }
                        },
                        "Init_ResourceGroup": {
                            "runAfter": {
                                "Init_Subscription": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResourceGroup",
                                        "type": "string",
                                        "value": "[parameters('ResourceGroup')]"
                                    }
                                ]
                            }
                        },
                        "Init_Subscription": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Subscription",
                                        "type": "string",
                                        "value": "[parameters('Subscription')]"
                                    }
                                ]
                            }
                        },
                        "init_AASPause_Flag": {
                            "runAfter": {
                                "Init_AASQPUMetricsURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AASPauseFlag",
                                        "type": "boolean",
                                        "value": "[parameters('AASPauseFlag')]"
                                    }
                                ]
                            }
                        },
                        "init_DWTier": {
                            "runAfter": {
                                "Init_DWIdleTime": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DWTier",
                                        "type": "string",
                                        "value": "[parameters('DWTier')]"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$workflowsqldwusername": {
                        "value": "[parameters('sqldw_username')]"
                    },
                    "$connections": {
                        "value": {
                            "office365": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('logicAppLocation'),'/managedApis/office365')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('o365_name'))]",
                                "connectionName": "[parameters('o365_name')]"
                            },
                            "sqldw": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('logicAppLocation'),'/managedApis/sqldw')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sqldw_name'))]",
                                "connectionName": "[parameters('sqldw_name')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[variables('logicAppLocation')]",
            "name": "[parameters('sqldw_name')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('logicAppLocation'),'/managedApis/sqldw')]"
                },
                "displayName": "[parameters('sqldw_displayName')]",
                "parameterValues": {
                    "server": "[parameters('sqldw_server')]",
                    "database": "[parameters('sqldw_database')]",
                    "username": "[parameters('sqldw_username')]",
                    "password": "[parameters('sqldw_password')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[variables('logicAppLocation')]",
            "name": "[parameters('o365_name')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('logicAppLocation'),'/managedApis/office365')]"
                },
                "displayName": "[parameters('o365_displayName')]"
            }
        }
    ],
    "outputs": {}
}
